html {
	font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

body{
	background-color: #ffffff;
	margin: 0;							/*body expanded upto corners with 0 margin, no gap between window and website*/
}

p {
	color: #5d6660;
	font-size: 16px;
	line-height: 24px;
	font-family: Sentinel SSm A, Sentinel SSm B, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
header {
	height: 80px;
	background-color: #ffffff;
}

#header-container {						/*id start with hash(#)*/
	width: 80%;
	margin: auto;
}

.col-3 {								/*for class start with dot(.)*/
	width: 33%;
	float: left;						/*with this all div coloumn becomes inline overriding html natural flow*/
}

.logo {
	padding-top: 30px;
}

.menu {
	margin-top: 32px;
}

.menu li {			
	/*every list items within class menu*/
	list-style-type: none;				
	display: inline;					/*we need this to be aligned horizontally not vertically*/
	font-size: 0.85em;
	color: #8e8e8e;
	padding-right: 30px;				/*distance between list elements*/
}

.getStartedBTN {
	background-color: #228B22;
	border-radius: 28px;
/*	-moz-border-radius: 28px;*/			/*if feature is not supported by older browser versions (firefox)*/
/*	-webkit-border-radius: 28px;		*//*for safari*/
	text-decoration: none;
	color: #ffffff;
	padding: 10px 26px;					/*top right bottom left*/
	margin-top: 20px;					/*from its parent element*/
	display: inline-block;				/*with display: inline-block, the top and bottom margins/paddings are respected, but with 											display: inline they are not. Compared to display: block, the major difference is that 												display: inline-block does not add a line-break after the element, so the element can sit next to other elements.*/
	font-size: 17px;
	float: right;
}

#top-section-main {
	background: no-repeat left/cover url(../images/friends.jpg);	/*url() function*/
	height: 740px;
	border: none;
}

#top-section-content {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

#top-section-content h1 {				/*all h1 in top-section-content */
	font-size:	4em;
	font-weight: 100;
	color: #ffffff;
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 80px;
}

#top-section-content p {
	font-size:	1.3em;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
	margin-top: 15px;
}

.play-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 50px 0px 10px 0px;		/*Top Right Bottom Left*/
}

.main-form h6 {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}

.main-form input {
	margin: 0;
	width: 30%;
	height: 40px;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 15px;
	font-weight: 100;
	border: none;
}

.main-form button {
	width: 30%;
	height: 42px;
	font-family: sans-serif;
	font-size: 15px;
	padding-left: 15px;
	font-weight: 100;
	background-color: #228B22;
	color: #ffffff;
	border: none;
}

#feature-section {							/*id so #*/
	padding-top: 100px;
}

.feature-section-title {
	width: 70%;
	text-align: center;
	margin: auto;
	font-weight: 200;
	line-height: 1.5em;
}

#feature-section-title-span {
	background-color: #228B22;
	color: #ffffff;
	padding: 2px;
}

.feature-content {
	margin: auto;
/*
	margin-left: 99px;
	margin-right: 99px;
*/
	width: 80%;
	text-align: center;
	padding-top: 100px;
	padding-left: 50px;							/*this helped to aligh images perfectly wrto left and right border*/
	padding-left: 50px;
}

.feature-content .col-3 {
	padding: 10px;
	width: 30%;									/*overriding width propertie in class .col-3 from above to manifest 3 imgs along with padding at the bottom 											of the webpage*/
}

.feature-content .col-3 img {					/*every single image within coloumn 3 tag within feature content tag to have this prop*/
	width: 100%;								/*this command helped to place 3 photos in line */
	margin-left: auto;
	margin-right: auto;
	
}

.feature-content .col-3 p {
	font-size: .9em;
	letter-spacing: 1px;
}
										
/*
.feature-content .col-3 h3 {					//no need to do specifically as we did it in .feature-content class
	text-align: center;
}
*/

#showcase1-container {
	padding-top: 60px;
	background-color: #f6f8fa;
	width: 100%;
	clear: both;								/*The clear CSS property sets whether an element must be moved below (cleared) floating elements that precede 												it. The clear property applies to floating and non-floating elements. specifies on which sides of an 												element floating elements are not allowed to float.*/
}

.showcase {
	width: 80%;
	margin: auto;
	overflow: auto;								/*check what it is*/
}

.col-2 {
	float: left;
	width: 48%;
}

.showcase1Pic {
	width: 100%;
}

.feature-text {
	padding-top: 300px;
	padding-left: 50px;
}

.section-title {
	width: 70%;
	margin: auto;
	line-height: 1.5em;
	font-weight: 200;
}

.section-left {
	width: 70%;
	padding: 20px 10px 10px 10px;
	margin: auto;
/*	text-align: justify;*/
}

#showcase2-container {
	padding-top: 60px;
	background-color: #ffffff;
	width: 100%;
	clear: both;								/*The clear CSS property sets whether an element must be moved below (cleared) floating elements that precede 												it. The clear property applies to floating and non-floating elements. specifies on which sides of an 												element floating elements are not allowed to float.*/
}

#call-to-action {
	background: no-repeat left/cover url(../images/darkdesk.png);
	background-position: 50% 50%;				/*change the position to background img if it is too big*/
	padding-bottom: 45px;
}

.col-1 {
	width: 80%;
	margin: auto;
}

.col-1 p {
	font-size: 1.6em;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	margin: 0;
	padding-bottom: 100px;
}

.action-title {
	color: #ffffff;
	font-size: 4em;
	font-weight: 300;
	text-align: center;
	margin-top: 0;
	padding-top: 100px;
	
}

.signupBTN {
	background-color: #2bb512;				/*#228B22*/
	color: #ffffff;
	font-size: 1em;
	font-weight: 200;
	text-decoration: none;
	padding: 30px 90px 30px 90px;
}

.signupBTN:hover {
	background-color: #228B22;
}

.signupform {
	background-color: #f6f8fa;
	margin-right: 200px;
	padding: 0px 50px 10px 50px;
}

.signupform h6 {
	color: #000000;
	padding-top: 15px;
	font-size: .9em;
	text-align: center;
}
	
.top-margin {
	margin-top: 100px;
	margin-left: 100px;
}


input {
	margin: 0;
	width: 100%;
	height: 50px;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 100;
	border: none;
	margin-top: 15px;
}

button {
	margin: 0;
	width: 102%;
	height: 50px;
	border: none;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: 100;
	background-color: #2bb512;			/*#6dc77a*/
	color: #ffffff;
	margin-top: 15px;
}

footer {
	background-color: #000000;
	clear: both;							/*footer was overlapping with form section col-2*, that's why use clear command when facing same issue*/
/*	margin-top: 30px;*/
	height: 500px;
	background: no-repeat left/cover url(../images/footerbg.png);
	background-position: 50% 50%;         /*flag important*/
}

.social-footer {
	width: 33%;
	float: left;
	height: 40%;
}

.social-footer:hover {
	background-color: #000000;
	opacity: 50%;						/* after hovering opasity is diplayed to block*/
}

.center {
	width: 50px;
	margin: auto;
	padding-top: 60px;
}

.copyright {
	color: #ffffff;
	font-size: .9em;
	text-align: center;
	display: block;						/*made copyright be aligned at center*/
}